body{
  background-color: rgb(231, 170, 155);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
form > div{
  margin-left: 30px;
}
form > button{
  margin-left: 40px;
}
h2{
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.containerForm{
  max-width: 1440px;
  min-width: 375px;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer{
  position: relative;
  display: flex;
  justify-content: start;
  height: 130px;
  width: 90%;
}
.borderForm{
  position: relative;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  height: 75vh;
  width: 50%;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 110px;
}
.line{
  height: 1px;
  width: 90%;
  background-color: gray;
  
}
.formContainer span{
  bottom: 35px;
  position: absolute;
  z-index: 0;
}
.buttonSubmit{
  position: absolute;
  border: 1px solid transparent;
  bottom: 5px;
  right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color:hsl(259, 100%, 65%);
  cursor: pointer;
}
.bx-chevrons-down{
  font-size: 50px;
  color: antiquewhite;
}

.dayDiv, .monthsDiv, .yearsDiv{
  display: flex;
  flex-direction: column;
}
#errorMessage {
  display: none;
}
#errorMessage2{
  display: none;
}
#errorMessage3{
  display: none;
}
.alertContainer{
  display:none;
}
/* Input */
.input{
  border: 1px solid lightgray;
  height: 30px;
  width: 60px;
  border-radius: 3px;
  padding-left: 5px;
}
.input::placeholder{
  color: rgb(112, 109, 109);
  font-size: 16px;
  font-weight: 600;
}
.input:not(:placeholder-shown){
  color: black;
  font-size: 16px;
  font-weight: 700;
}
/* label */
.label{
  font-size: 12px;
  color: rgb(63, 63, 63);
  font-weight: 700;
  margin-bottom: 5px;
}
/* results */
.results{
  padding: 40px;
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.resultAge, .resultMonth, .resultYear{
  display: flex;
  margin-bottom: 10px;
}
.results input{
  width: 90px;
  height: 50px;
}
.labelResult{
  font-size: 50px;
  font-weight: 600;
}
.inputResult{
  border: transparent;
}
.inputResult:not(:placeholder-shown){
  color: purple;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
/* article */
a{
  font-size: 20px;
  text-decoration: none;
  font-weight: 400px;
  color: gray !important;
}
/* textAlert */
.alertContainer{
  display: block;
  border: white 1px solid;
  background-color: whitesmoke;
  width: 300px;
  margin-bottom: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.messageAlert{
  color: red;
  font-size: 18px;
}
@keyframes desplazar {
  from {
    left: 20%;
  }

  to {
    left: 55%;
  }
}
.alertContainer{
  top: 5px;
  position: absolute;
  animation-name: desplazar;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}
/* title */
.title{
  position: absolute;
  top: 0px;
  font-size: 28px;
  font-weight: 600;
  color: hsl(259, 100%, 65%);
  text-shadow: 2px 2px 4px rgba(31, 0, 49, 0.5);
}
/* valore de entradas */
.valuesEntrance{
  color: red;
  font-weight: 600;
}
/* mediasScreen */
@media screen and (max-width: 1440px) {
  .borderForm{
    top: 50px;
    height: 90vh;
  }
  .attribution{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50vh;
    margin-left: 0;
  }
}
@media screen and (max-width: 992px){
  @keyframes desplazar {
    from {
      left: 22%;
    }
  
    to {
      left: 37%;
    }
  }
  .attribution{
    display: none;
  }
  .borderForm{
    margin-bottom: 10px;
  }
  .containerForm{
    padding-right: 100px;
  }
}
@media screen and (max-width: 798px){
  .alertContainer, .messageAlert{
    background-color: transparent;
    border: transparent;
    display: none;
  }
  .borderForm{
    margin-left: 100px;
  }
  .buttonSubmit{
    top:90px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .bx-chevrons-down{
    font-size: 35px;
  }
  .formContainer span{
      bottom: 10px;
  }
  .labelResult{
    font-size: 35px;
  }
  .inputResult:not(:placeholder-shown){
    font-size: 35px;
  }
  .results input{
    width: 70px;
    height: 35px;
  }
  .input{
    height: 20px;
    width: 60px;
  }
  .input::placeholder{
    font-size: 12px;
  }
  .input:not(:placeholder-shown){
    font-size: 12px;
  }
}
@media screen and (max-width: 768px){
  .borderForm{
    width: 90%;
    height: 80%;
  }
  .dayDiv, .monthsDiv ,.yearsDiv{
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .formContainer span{
    bottom: 0px;
   }
  .buttonSubmit{
    top: 110px;
  }
  .dayDiv, .monthsDiv ,.yearsDiv{
    margin-left: 20px;
  }
  .borderForm{
    height: 90%;
    width: 95%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 375px){
  .borderForm{
    width: 335px ;
    height: 100vh;
    padding: 0;
    margin: 0;
    top: 0;
    border-radius: 0;
    bottom: 0;
  }
  .results{
    padding: 30px;
  }
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .containerForm{
    padding: 0;
  }
}